@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Models.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model bacit_dotnet.MVC.ViewModels.UserViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <h3 class="text-dark d-inline-block">Brukere i systemet</h3>
        <a class="btn btn-outline-dark d-inline-block float-end" href="https://localhost:7041/Account/Register?returnurl=%2F">Lag ny bruker</a>
        <div class="row pb-2">
            <hr />
            <table>
                <tr>
                    <td>Fornavn</td>
                    <td>Etternavn</td>
                    <td>Ansattnummer</td>
                    <td>Delete</td>

                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>

                        <td>
                            <form asp-action="delete" asp-controller="account" method="post">
                                <input type="hidden" name="Email" value="@user.Email" />
                                <input type="submit" value="Slett" />
                            </form>
                        </td>

                        <td>
                            <form asp-action="edit" asp-controller="users" method="get">
                                <input type="hidden" name="Email" value="@user.Email" />
                                <input type="submit" value="Endre" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</form>