@using Microsoft.AspNetCore.Mvc.TagHelpers


@* ### Create for Just do it ### *@

@model bacit_dotnet.MVC.ViewModels.CreateJustdoitViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4 bg-gr-d">
        <div class="row pb-2">
            <h3 class="text-dark">Legg til ny Just Do It</h3>
            <hr/>
        </div>
        @*
        This line of code will show a summary of all errors at the top of the page.
        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
	        <label asp-for="EmployeeId">Opprettet av</label>
	        <select asp-for="EmployeeId">
		        @foreach (var user in Model.Users)
		        {
			        if (@User.Identity.Name == @user.Email)
			        {
				        <option value="@user.Id" selected>@user.FirstName @user.LastName</option>
			        }
			        if (user.Email.Equals("0") || user.Email.Equals(@User.Identity.Name))
			        {
				        continue;
			        }
			        <option value="@user.Id">@user.FirstName @user.LastName</option>
		        }
	        </select>
	        <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title">Tittel</label>
            <input asp-for="Title" class="form-control" minlength="2" maxlength="30"/><span id="countCharTitle" class="count-max-length">30/30</span>
            <span asp-validation-for="Title" class="text-danger">
            </span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Beskrivelse</label>
            <textarea asp-for="Description" class="form-control" style="min-height: 150px;"></textarea>
            <span id="countCharDesc" style="float:right; font-size:14px; color:#4d4d4d;">500/500</span>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TeamId">Team</label>
            <select asp-for="TeamId">
                <option value="" selected disabled>Velg et Team</option>
                @foreach (var team in Model.Teams)
                {
                    <option value="@team.TeamId">@team.TeamName</option>
                }
            </select>
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category">Kategori</label>
            <select asp-for="Category"class="form-control">
                <option value="" selected disabled>Velg en kategori</option>
                <option value="HMS">HMS</option>
                <option value="Kvalitet">Kvalitet</option>
                <option value="Ledetid">Ledetid</option>
                <option value="Kostnader">Kostnader</option>
                <option value="Effektivisering">Effektivisering</option>
                <option value="Kompetanse">Kompetanse</option>
                <option value="Kommunikasjon">Kommunikasjon</option>
                <option value="5S">5S</option>
                <option value="Standardisering">Standardisering</option>
                <option value="Flyt">Flyt</option>
                <option value="Visualisering">Visualisering</option>
                <option value="Bærekraft">Bærekraft</option>
                <option value="Industri 4.0">Industri 4.0</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <!-- Image -->
        <div class="container-fluid mb-3">
            <div class="row">

                <!-- Image before -->
                <div class="col-sm-6 text-black align-content-center">
                Bilde før
                    <input asp-for="Attachments" id="imageInputBefore" class="form-control pt-1 mb-1"
                        type="file" accept=".jpg, .png, .jpeg, .heic, .heif" size="1" style="cursor: pointer" value="Choose file" data-max-size="@(8 * 1024.0 * 1024.0)" />

                    <span id="imageSizeWarningBefore" class="text-danger" style="display: none;"></span>
                    <span id="imageTypeWarningBefore" class="text-danger" style="display: none"></span>
                </div>

                <!-- Image after -->
                <div class="col-sm-6 text-black align-content-center">
                    Bilde etter
                    <input asp-for="AttachmentsAfter" id="imageInputAfter" class="form-control pt-1"
                           type="file" accept=".jpg, .png, .jpeg, .heic, .heif" size="1" style="cursor: pointer" value="Choose file" data-max-size="@(8 * 1024.0 * 1024.0)" />

                    <span id="imageSizeWarningAfter" class="text-danger" style="display: none;"></span>
                    <span id="imageTypeWarningAfter" class="text-danger" style="display: none"></span>
                </div>
                <!-- Image preview field -->

                @*<img id="imagePreview" style="max-height: 300px; max-width: 300px; display: none;"/>*@  

        </div>       

        <br/>

        @*
        Creates a group of buttons for submit and return to list buttons.
        The buttons are set to 100% width of the parent class.
        Also using a custom button class that extends the bootstrap button classes to specify the font-size.
        *@
        <div class="d-grid pb-3">
            <div class="btn-group" role="group">
                <button id="submitBtn" type="submit" class="btn btn-dark btn-lg btn-outline-dark text-white extra-button-style-b">Opprett</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-light btn-outline-dark btn-lg extra-button-style">Tilbake</a>
            </div>
        </div>
    </div>
</form>

<!--This script makes sure that the validation process is done on client-side instead of server-side-->

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/createSuggestion.js"></script>
}

@*
    This script is used to count the remaining characters in the create suggestion form for the "title" and "description" fields.
    The function will count backwards from the fields' maximum value until it reaches zero.
*@
<script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('Title').onkeyup = function () {
                document.getElementById('countCharTitle').innerHTML = (30 - this.value.length) + "/30";
            };
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('Description').onkeyup = function () {
                document.getElementById('countCharDesc').innerHTML = (500 - this.value.length) + "/500";
            };
        });</script>