@model bacit_dotnet.MVC.ViewModels.Justdoit.EditJustdoitViewModel

<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <div class="border p-3 mt-4 bg-gr-d">
        <div class="row pb-2">
            <h2 class="text-dark">Rediger Just-Do-It-forslag</h2>
            <hr/>
        </div>
        @*
        This line of code will show a summary of all errors at the top of the page.
        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
            <label asp-for="JustdoitId">Forslags ID</label>
            <h6>@Model.JustdoitId</h6>
            <input asp-for="JustdoitId" type="hidden" class="form-control"/>
            <span asp-validation-for="JustdoitId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeId">Ansatt ID</label>
            <input asp-for="EmployeeId" class="form-control"/>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title">Tittel</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Beskrivelse</label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TeamId">Team</label>
            <select asp-for="TeamId">
                @foreach (var team in Model.Teams)
                {
                    <option value="@team.TeamId">@team.TeamName</option>
                }
            </select>
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category">Kategori</label>
            <select asp-for="Category" class="form-control">
                <option value="@Model.Category" disabled>@Model.Category</option>
                <option value="HMS">HMS</option>
                <option value="Kvalitet">Kvalitet</option>
                <option value="Ledetid">Ledetid</option>
                <option value="Kostnader">Kostnader</option>
                <option value="Effektivisering">Effektivisering</option>
                <option value="Kompetanse">Kompetanse</option>
                <option value="Kommunikasjon">Kommunikasjon</option>
                <option value="5S">5S</option>
                <option value="Standardisering">Standardisering</option>
                <option value="Flyt">Flyt</option>
                <option value="Visualisering">Visualisering</option>
                <option value="Bærekraft">Bærekraft</option>
                <option value="Industri 4.0">Industri 4.0</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="container-fluid mb-3">
            <div class="row">

                <!-- Image before -->
                <div class="col-sm-5 text-black align-content-center">
                    Last opp et bilde
                    <input asp-for="Attachment" id="imageInputBefore" class="form-control pt-1 mb-1"
                           type="file" accept=".jpg, .png, .jpeg, .heic, .heif" size="1" style="cursor: pointer" value="Choose file" data-max-size="@(8 * 1024.0 * 1024.0)"/>

                    <span id="imageSizeWarningBefore" class="text-danger" style="display: none;"></span>
                    <span id="imageTypeWarningBefore" class="text-danger" style="display: none"></span>
                </div>
                
                <!-- Image after -->
                <div class="col-sm-5 text-black align-content-center">
                        Bilde etter
                            <input asp-for="AttachmentsAfter" id="imageInputAfter" class="form-control pt-1"
                                   type="file" accept=".jpg, .png, .jpeg, .heic, .heif" size="1" style="cursor: pointer" value="Choose file" data-max-size="@(8 * 1024.0 * 1024.0)" />
        
                            <span id="imageSizeWarningAfter" class="text-danger" style="display: none;"></span>
                            <span id="imageTypeWarningAfter" class="text-danger" style="display: none"></span>
                        </div>
                <!-- Image preview field -->

                <img id="imagePreview" style="max-height: 300px; max-width: 300px; display: none;"/>

            </div>
        </div>
        <br/>
        <div class="d-grid pb-3">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-dark btn-outline-dark text-white btn-lg extra-button-style-b" style="width: 150px">Oppdater</button>
                <a asp-controller="Justdoit" asp-action="Index" class="btn btn-light btn-outline-dark btn-lg extra-button-style" style="width: 150px">Tilbake</a>
            </div>
        </div>
    </div>
</form>


<!--This script makes sure that the validation process is done on client-side instead of server-side-->

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
	
    <script src="~/js/createSuggestion.js"></script>

}