@model bacit_dotnet.MVC.ViewModels.JustdoitViewModel
@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutButton";
}

@*
    ### Just do it suggestions list ###
*@



<div class="text-center">
    <h3>Just do it-forslag</h3>
</div>


<div class="border pt-0 pb-3 bg-white">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 text-black ms-2"><b>Tittel</b></div>
            <div class="col-2 text-black p-0"><b>Team</b></div>
            <div class="col-2 text-black p-0"><b>Ansvarlig</b></div>
        </div>
    </div>

    @*
        The following loop will loop through all the submitted suggestions and list them in a dropdown list
        that can be expanded and collapsed by the user to view the details of each suggestion. The default value is collapsed.
    *@
    @{
        var justdoitnr = 1;
        var attachmentJDI = 1;
        var attachmentAfterJDI = 1;
        foreach (var objJust in Model.Justdoit)
        {
            <div class="container-fluid mt-3 p-0">
                <div class="container-fluid">
                    <div class="border">
                        <div class="d-grid">
                            <div class="col-md p-3 my-0 bg-light text-black accordion-button collapsed accordion-flush" data-bs-toggle="collapse" data-bs-target="#justdoit-@justdoitnr">
                                <div class="row" style="width:100%;">
                                    <div class="col-3 bg-light">@objJust.Title</div>
                                    <div class="col-2 bg-light">@objJust.Team.TeamName</div>
                                    <div class="col-2 bg-light">@objJust.Employee.FirstName @objJust.Employee.LastName</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*
                        This code creates a new div ID that is used by the loop to display each row.
                        The last digit of the ID is an increasing number so that each row gets its own unique ID.
                        This is needed for the expansion of the rows to work.
                    *@
                    <div id="justdoit-@justdoitnr" class="collapse bg-white">
                        <div class="border border-top-0">
                            <div class="container-fluid mt-3">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Beskrivelse</b></p>
                                                <p class="text-break">@objJust.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Ansvarlig</b></p>
                                                <p>@objJust.Employee.FirstName @objJust.Employee.LastName</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Tidslinje</b></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 col-md-6 p-2 text-black">
                                        <div class="border" style="padding: 1rem;">
                                            <p><b>Kategori</b></p>
                                            <p>@objJust.Category</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Beskrivelse</b></p>
                                                <p class="text-break">@objJust.Description</p>
                                            </div>
                                        </div>

                                    </div>




                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Førbilde</b></p>

                                                @*
                                                    The following code will look for attached pictures for each of the suggestions.
                                                    If a picture is found within the database it will be presented as a clickable thumbnail.
                                                    When a user clicks on the thumbnail a "full size" popup modal will appear. The size of the picture is responsive, meaning that the
                                                    size will depend on the viewport of the device that is being used.
                                                *@

                                                @if (objJust.Attachments.Length == 0)
                                                {
                                                    @:<p>Ingen bilde vedlagt.</p>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#attachmentJDI-@(attachmentJDI)">
                                                            <img class="img-fluid" alt="" src="data:image/png;base64,@(Convert.ToBase64String(objJust.Attachments))" style="max-height: 300px; max-width: 100%;" />
                                                        </button>
                                                    </center>
                                                    <p class="text-center">Trykk på bildet for å forstørre</p>
                                                    <div id="attachmentJDI-@(attachmentJDI)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="attachmentJDI-@(attachmentJDI)Label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img class="img-fluid" src="data:image/png;base64,@(Convert.ToBase64String(objJust.Attachments))" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>


                                        <div class="col-sm-6 col-md-6 p-2 text-black">
                                            <div class="border" style="padding: 1rem;">
                                                <p><b>Etterbilde</b></p>

                                                @*
                                                    The following code will look for attached pictures for each of the suggestions.
                                                    If a picture is found within the database it will be presented as a clickable thumbnail.
                                                    When a user clicks on the thumbnail a "full size" popup modal will appear. The size of the picture is responsive, meaning that the
                                                    size will depend on the viewport of the device that is being used.
                                                *@

                                                @if (objJust.AttachmentAfter.Length == 0)
												
                                                {
                                                    @:<p>Ingen bilde vedlagt.</p>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#attachmentAfterJDI-@(attachmentAfterJDI)">
                                                            <img class="img-fluid" alt="" src="data:image/png;base64,@(Convert.ToBase64String(objJust.AttachmentAfter))" style="max-height: 300px; max-width: 100%;" />
                                                        </button>
                                                    </center>
                                                    <p class="text-center">Trykk på bildet for å forstørre</p>
                                                    <div id="attachmentAfterJDI-@(attachmentAfterJDI)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="attachmentAfterJDI-@(attachmentAfterJDI)Label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img class="img-fluid" src="data:image/png;base64,@(Convert.ToBase64String(objJust.AttachmentAfter))" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid pb-3">
                                        <div class="btn-group" role="group">
                                            <a asp-controller="Justdoit" asp-action="Edit" asp-route-id="@objJust.JustdoitId"
                                               class="btn btn-light btn-outline-dark btn-lg extra-button-style"> Rediger forslag</a>
                                            <a asp-controller="Justdoit" asp-action="Delete" asp-route-id="@objJust.JustdoitId"
                                               class="btn btn-light btn-outline-dark btn-lg extra-button-style"> Slett forslag</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            justdoitnr++;
            attachmentJDI++;
            attachmentAfterJDI++;
        }
    }
</div>